@model CoinView.Models.UserViewModel

<h4>.@Model.User.Name</h4>

<p>.OpenTrades</p>
<table class="SummaryTable">
    <tr>
        <td>Coin</td>
        <th>Change 1h</th>
        <th>Change 24h</th>
        <th>Change 7h</th>
        <th>BuyValueEUR</th>
        <th>SellValueEUR</th>
        <th>ProfitEUR</th>
        <th></th>
    </tr>
    @Html.DisplayFor(x => x.OpenTrades)
    <tr class="BorderTop">
        <td colspan="4"></td>
        <td class="Number">@Model.OpenTradesBuyValueEURSum.ToString("C")</td>
        <td class="Number">@Model.OpenTradesSellValueEURSum.ToString("C")</td>
        <td class="Number @(Model.OpenTradesProfitValueEURSum >= 0 ? "TextGreen" : "TextRed")">@Model.OpenTradesProfitValueEURSum.ToString("C")</td>
        <td class="Number @(Model.OpenTradesProfitValueEURSumPercent >= 0 ? "TextGreen" : "TextRed")">@Model.OpenTradesProfitValueEURSumPercent.ToString("P")</td>
    </tr>
</table>
<br /><br />

<p>.ClosedTrades</p>
<table class="SummaryTable">
    <tr>
        <td>Coin</td>
        <th>Change 1h</th>
        <th>Change 24h</th>
        <th>Change 7h</th>
        <th>BuyValueEUR</th>
        <th>SellValueEUR</th>
        <th>ProfitEUR</th>
        <th></th>
    </tr>
    @Html.DisplayFor(x => x.ClosedTrades)
    <tr class="BorderTop">
        <td colspan="4"></td>
        <td class="Number">@Model.ClosedTradesBuyValueEURSum.ToString("C")</td>
        <td class="Number">@Model.ClosedTradesSellValueEURSum.ToString("C")</td>
        <td class="Number @(Model.ClosedTradesProfitValueEURSum >= 0 ? "TextGreen" : "TextRed")">@Model.ClosedTradesProfitValueEURSum.ToString("C")</td>
        <td class="Number @(Model.ClosedTradesProfitValueEURSumPercent >= 0 ? "TextGreen" : "TextRed")">@Model.ClosedTradesProfitValueEURSumPercent.ToString("P")</td>
    </tr>
</table>
