
<h4>.Summary</h4>

@foreach (var summary in Model.UserSummaries) { 
    <div class="SummaryTable">
        <span class="Title">@summary.User.Name</span>
        <table>
            <tr>
                <td>Invests</td>
                <td class="Number BorderLeft">@summary.InvestsSellValueEUR.ToString("C")</td>
                <td class="Number">-@summary.InvestsBuyValueEUR.ToString("C")</td>
                <td class="Number BorderLeft @(summary.InvestsResultValueEUR >= 0 ? "TextGreen" : "TextRed")">@summary.InvestsResultValueEUR.ToString("C")</td>
                <td class="Number @(summary.InvestsResultPercent >= 0 ? "TextGreen" : "TextRed")">@summary.InvestsResultPercent.ToString("P")</td>
            </tr>
            <tr>
                <td>Trades</td>
                <td class="Number BorderLeft">@summary.TradesSellValueEUR.ToString("C")</td>
                <td class="Number">-@summary.TradesBuyValueEUR.ToString("C")</td>
                <td class="Number BorderLeft @(summary.TradesResultValueEUR >= 0 ? "TextGreen" : "TextRed")">@summary.TradesResultValueEUR.ToString("C")</td>
                <td class="Number @(summary.TradesResultPercent >= 0 ? "TextGreen" : "TextRed")">@summary.TradesResultPercent.ToString("P")</td>
            </tr>
            <tr>
                <td>Creations</td>
                <td class="Number BorderLeft">@summary.CreationsSellValueEUR.ToString("C")</td>
                <td class="Number">-@summary.CreationsBuyValueEUR.ToString("C")</td>
                <td class="Number BorderLeft @(summary.CreationsResultValueEUR >= 0 ? "TextGreen" : "TextRed")">@summary.CreationsResultValueEUR.ToString("C")</td>
                <td></td>
            </tr>
            <tr class="BorderTop">
                <td>Total</td>
                <td class="Number BorderLeft">@summary.TotalSellValueEUR.ToString("C")</td>
                <td class="Number">-@summary.TotalBuyValueEUR.ToString("C")</td>
                <td class="Number BorderLeft @(summary.TotalResultValueEUR >= 0 ? "TextGreen" : "TextRed")">@summary.TotalResultValueEUR.ToString("C")</td>
                <td class="Number @(summary.TotalResultPercent >= 0 ? "TextGreen" : "TextRed")">@summary.TotalResultPercent.ToString("P")</td>
            </tr> 
        </table>
    </div>
}

<a asp-area="" asp-controller="Summary" asp-action="Update">UPDATE</a>
