
<h4>.Summary</h4>

<div class="SummaryTable">
    <table>
        <tr>
            <td>Invests</td>
            <td class="Number BorderLeft">@Model.InvestsSellValueEUR.ToString("C")</td>
            <td class="Number">-@Model.InvestsBuyValueEUR.ToString("C")</td>
            <td class="Number BorderLeft @(Model.InvestsResultValueEUR > 0 ? "TextGreen" : "TextRed")">@Model.InvestsResultValueEUR.ToString("C")</td>
        </tr>
        <tr>
            <td>Trades</td>
            <td class="Number BorderLeft">@Model.TradesSellValueEUR.ToString("C")</td>
            <td class="Number">-@Model.TradesBuyValueEUR.ToString("C")</td>
            <td class="Number BorderLeft @(Model.TradesResultValueEUR > 0 ? "TextGreen" : "TextRed")">@Model.TradesResultValueEUR.ToString("C")</td>
        </tr>
        <tr>
            <td>Creations</td>
            <td class="Number BorderLeft">@Model.CreationsSellValueEUR.ToString("C")</td>
            <td class="Number">-@Model.CreationsBuyValueEUR.ToString("C")</td>
            <td class="Number BorderLeft @(Model.CreationsResultValueEUR > 0 ? "TextGreen" : "TextRed")">@Model.CreationsResultValueEUR.ToString("C")</td>
        </tr>
        <tr class="BorderTop">
            <td>Total</td>
            <td class="Number BorderLeft">@Model.SellTotalEUR.ToString("C")</td>
            <td class="Number">-@Model.BuyTotalEUR.ToString("C")</td>
            <td class="Number BorderLeft @(Model.ResultTotalEUR > 0 ? "TextGreen" : "TextRed")">@Model.ResultTotalEUR.ToString("C")</td>
        </tr>
        <tr></tr>
    </table>
</div>

